{% extends 'student/base.html' %}
{%block content%}
<div class="container-fluid">
    <h3 class="m-4">All Student</h3>
    <div class="row">
        <div class="col-12">
            
            <!-- pastenya disini dengan cara copy card body -->
            <div class="card border-light ms-4 mb-4 me-4 ">
                <!-- <div class="card-header">Header</div> -->
                <div class="card-body">
                  <!-- <h4 class="card-title">Light card title</h4> -->
                  <p class="card-text">
                  <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="1">Student Number</th>
                                <th scope="1">First Name</th>
                                <th scope="1">Last Name</th>
                                <th scope="1">Email</th>
                                <th scope="1">Field of Study</th>
                                <th scope="1">GPA</th>
                                <th scope="1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in datas %}
                            <tr>
                                <td>{{data.student_number}}</td>
                                <td>{{data.first_name}}</td>
                                <td>{{data.last_name}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.field_of_study}}</td>
                                <td>{{data.gpa}}</td>
                                <td>
                                    <button type="button" class="btn btn-success" href="{% url 'view_student' data.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{data.id}}">
                                        <i class="fa-solid fa-circle-info fa-lg"></i>
                                    </button>
                                    
                                <!-- Modal View Student -->
                                    <div class="modal" id="myModal{{data.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">
                                                Student : {{data.first_name}}
                                               </h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <ul class="list-unstyled">
                                                <li>Student Number: <strong>{{data.student_number}}</strong></li>
                                                <li>First Name: <strong>{{data.first_name}}</strong></li>
                                                <li>Last Name: <strong>{{data.last_name}}</strong></li>
                                                <li>Email: <strong>{{data.email}}</strong></li>
                                                <li>Field of Study: <strong>{{data.field_of_study}}</strong></li>
                                                <li>GPA: <strong>{{data.gpa}}</strong></li>
                                              </ul>
                                            </div>
                                            <div class="modal-footer">
                                              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                              
                                  <a type="button" class="btn btn-warning me-1" href="{% url 'edit' data.id %}">
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                  </a>
                               
                                  <!-- DELETE -->
                                  <button type="button" class="btn btn-danger" href="{% url 'delete' data.id %}" data-bs-toggle="modal" data-bs-target="#delete{{data.id}}">
                                      <i class="fa-sharp fa-solid fa-trash-can fa-lg"></i>
                                  </button>
                              <!-- Modal View Student -->
                                  <div class="modal" id="delete{{data.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title">
                                              <p>Anda yakin akan menghapus data ini?</p>
                                             </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true"></span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                          
                                          </div>
                                          <div class="modal-footer">
                                            <form action="{% url 'delete' data.id %}" method="POST">
                                              {% csrf_token %}
                                              <input type="submit" class="btn btn-primary" value="Delete">
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  </p>
                  </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}